﻿@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Vendor styles -->
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- App styles -->
    <link href="~/css/app.min.css" rel="stylesheet" />
</head>
<body data-ma-theme="green">
    <section class="error">
        <div class="error__inner">
            <h1>401</h1>
            <h2>Página no autorizada!</h2>
            <p>Debe contactar con un administrador para solicitar el acceso a este módulo.</p>
        </div>
    </section>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var delay = 3000;
            setTimeout(function () { window.location = '../SignOut'; }, delay);
        });
    </script>
</body>
</html>