﻿@page
@model WebEncuesta.Pages.Account.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/favicon.png">
    <title>Encuestas</title>
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/app.min.css" rel="stylesheet" />
</head>
<body data-ma-theme="Indigo">


    <form method="post">
        <div class="login">
            <div class="login__block active" id="l-login">
                <img src="~/images/logo.png" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="login__block__body">
                    <div class="form-group form-group--float form-group--centered">

                        <input asp-for="LogInModel.Username" class="form-control" autocomplete="off" autofocus="" />

                        <label>Correo <span asp-validation-for="LogInModel.Username" class="text-danger"></span></label>
                        <i class="form-group__bar"></i>
                    </div>
                    <div class="form-group form-group--float form-group--centered">
                        <input asp-for="LogInModel.Password" class="form-control" />
                        <label>Contraseña <span asp-validation-for="LogInModel.Password" class="text-danger"></span></label>
                        <i class="form-group__bar"></i>

                    </div>
                    <button type="submit" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
                </div>
            </div>

        </div>
    </form>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/app.min.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</body>
</html>