﻿@page
@model WebEncuesta.Pages.Snxes.IndexModel
@{
    ViewData["Title"] = "Snex";
}


<div class="content__inner">
    <div class="row">
        <div class="col-md-12" id="divGrid">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Snex</h4>
                   
                   
                    <div class="hidden-on-narrow" id="pivotgrid"></div>
                    <div class="responsive-message"></div>
                    <br/><br/>
                    <button id="export" class="k-button k-button-icontext hidden-on-narrow"><span class="k-icon k-i-excel"></span>Exportar</button>
                </div>
            </div>
        </div>

        <div class="col-md-6" id="divAgregar">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Configurar</h4>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="hidden-on-narrow" id="configurator"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button id="btnCancelar" type="button" class="btn btn-default">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-danger btn--action btn--fixed zmdi zmdi-settings" id="btnAdd"></button>
</div>

@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="~/js/fp_es.js"></script>
    <script>

        $(document).ready(function () {

            $("#divAgregar").hide();
            $("#btnAdd").click(function () {
                $("#divAgregar").show("slow");
                $("#divGrid").removeClass("col-md-12");
                $("#divGrid").addClass("col-md-6");
            });

            $("#btnCancelar").click(function () {
                $("#divAgregar").hide();
                $("#divGrid").removeClass("col-md-6");
                $("#divGrid").addClass("col-md-12");
            });

            var pivotgrid = $("#pivotgrid").kendoPivotGrid({
                filterable: true,
                columnWidth: 120,
                height: 570,
                dataSource: {
                    transport: {
                        read: "../api/snex"
                    },
                    schema: {
                        model: {
                            fields: {
                                areaNombre: { type: "string" },
                                seccionNombre: { type: "string" },
                                usuarioNombre: { type: "string" },
                                ano: { type: "string" },
                                mes: { type: "string" },
                                total: { type: "number" },
                                snex: { type: "number" },
                                etiquetaMes: { type: "string" }
                            }
                        },
                        cube: {
                            dimensions: {
                                areaNombre: { caption: "Areas" },
                                seccionNombre: { caption: "Secciones" },
                                usuarioNombre: { caption: "Ejecutivos" },
                                ano: { caption: "Años" },
                                etiquetaMes: { caption: "Todos los meses" }
                            },
                            measures: {
                                "Encuestas": { field: "total", aggregate: "sum" },
                                "Snex": { field: "snex", format: "{0:p}", aggregate: "average" }
                            }
                        }
                    },
                    columns: [{ name: "ano" }, { name: "etiquetaMes", expand: true }],
                    rows: [{ name: "areaNombre", expand: true }],
                    measures: ["Snex"]
                }
            }).data("kendoPivotGrid");

            $("#export").click(function () {
                pivotgrid.saveAsExcel();
            });

            $("#configurator").kendoPivotConfigurator({
                dataSource: pivotgrid.dataSource,
                filterable: true,
                height: 570
            });
        });
    </script>
}



