.emoji-choices {
    list-style: none;
    padding: 0;
    text-align: center;
}

@media (min-width: 500px) {
    .emoji-choices {
        display: flex;
        max-width: 1000px;
        margin: auto;
        justify-content: center;
    }
}

@media (min-width: 500px) {
    .choice {
        width: 20vw;
        margin-top: 1rem;
    }
}

.emoji {
    transition: font-size 300ms ease;
    cursor: pointer;
    margin: 0;
}

.emoji img {
    width: 10rem;
}





.emoji-selected {
    width: 86px;
}

.reaction {
    font-size: 1rem;
    opacity: 0;
    margin-top: 3px;
}

.reaction-fade-in {
    -webkit-animation: fadeIn 300ms ease;
    animation: fadeIn 300ms ease;
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.emoji input[type="radio"] {
    display: none;
}



.content:not(.content--boxed):not(.content--full) {
    padding-top: 25px;
}


.content__title > h1 {
    font-size: 1.2rem !important;
}

.content__title > small {
    font-size: 1rem !important;
}

.card-header {
    font-size: 1.6rem !important;
    font-weight: bold;
    color: #071825;
}

body {
    margin: 0;
    font-family: Arial,sans-serif,helvetica !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #747a80;
    background-color: #fff;
    padding-top: 1rem;
}