/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.invalid-tooltip {
    display: none;
    width: 250px;
    margin-top: .1rem;
    font-size: .875rem;
    color: #fff;
    background-color: rgba(255, 107, 104, .8);
}

.error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*height:100%;
    width:100%;*/
    color: red;
}



.custom-control-input.is-valid ~ .custom-control-label::before, .was-validated .custom-control-input:valid ~ .custom-control-label::before {
    background-color: #94e4c2
}

.custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
    background-color: #57d59f
}



.custom-file-input.is-valid ~ .custom-file-label::before, .was-validated .custom-file-input:valid ~ .custom-file-label::before {
    border-color: inherit
}

.custom-file-input.input-validation-error ~ .custom-file-label, .custom-select.input-validation-error, .custom-select.input-validation-error:focus, .form-control.input-validation-error, .form-control.input-validation-error:focus, .was-validated .custom-file-input:invalid ~ .custom-file-label, .was-validated .custom-select:invalid, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid, .was-validated .form-control:invalid:focus {
    border-color: #ff6b68
}

.custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated .custom-file-input:valid:focus ~ .custom-file-label {
    box-shadow: 0 0 0 .2rem rgba(50,199,135,.25)
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #ff6b68
}

.custom-control-input.input-validation-error ~ .invalid-feedback, .custom-control-input.input-validation-error ~ .invalid-tooltip, .custom-file-input.input-validation-error ~ .invalid-feedback, .custom-file-input.input-validation-error ~ .invalid-tooltip, .custom-select.input-validation-error ~ .invalid-feedback, .custom-select.input-validation-error ~ .invalid-tooltip, .form-control.input-validation-error ~ .invalid-feedback, .form-control.input-validation-error ~ .invalid-tooltip, .was-validated .custom-control-input:invalid ~ .invalid-feedback, .was-validated .custom-control-input:invalid ~ .invalid-tooltip, .was-validated .custom-file-input:invalid ~ .invalid-feedback, .was-validated .custom-file-input:invalid ~ .invalid-tooltip, .was-validated .custom-select:invalid ~ .invalid-feedback, .was-validated .custom-select:invalid ~ .invalid-tooltip, .was-validated .form-control:invalid ~ .invalid-feedback, .was-validated .form-control:invalid ~ .invalid-tooltip {
    display: block !important;
}



.selectablegrid #grid tbody tr:hover {background: #ff4612;cursor: pointer;color: #ffffff;} span.icon {display: inline-block;vertical-align: middle;height: 1em;width: 1em;margin: 0;margin-top: -0.2em;margin-right: .6rem;fill:#747a80; &.white {svg * { fill: white; }}} span.iconpestana {font-size: large;}


.q-a__stat > span > svg {
    width: 0.6em;
    fill: #3F51B5;
}
.q-a__stat > span {
    cursor: move;
}

.product-view
{
    width: 100%;
    box-sizing: border-box;
    border-top: 0;
    position: relative;
}
.product-view:nth-child(even) {
    border-left-width: 0;
}
.product-view dl
{
    margin: 10px 10px 0;
    padding: 0;
    overflow: hidden;
}
.product-view dt, dd
{
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 24px;
    font-size: 18px;
}
.product-view dt
{
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 0.5;
}

.product-view dd
{
    height: 46px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.product-view dd .k-widget,
.product-view dd .k-textbox {
    font-size: 14px;
    width: 100%;
}

.edit-buttons
{
    text-align: right;
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
}

.content:not(.content--boxed):not(.content--full) {
    padding-top: 40px !important;
}
.sidebar {
    padding-top: 40px !important;

}