﻿@page
@model WebEncuesta.Pages.Areas.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="content__inner">


    <div class="row">

        <div class="col-md-12" id="divGrid">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Areas</h4>
                    <div id="grid"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="divAgregar">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Añadir Registro</h4>
                    <form method="post" enctype="multipart/form-data">


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Vm.Nombre"></label>
                                    <input type="text" class="form-control" asp-for="Vm.Nombre" autocomplete="off" maxlength="50">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button id="btnSave" type="submit" class="btn btn-danger">Guardar</button>
                                    <button id="btnCancelar" type="button" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-danger btn--action btn--fixed zmdi zmdi-plus" id="btnAdd"></button>
</div>

@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="~/js/fp_es.js"></script>

    <script>

        var model = JSON.parse('@Html.Raw(Json.Serialize(@Model.VmList))');

        $(document).ready(function() {
            $("#divAgregar").hide();
            $("#btnAdd").click(function() {
                $("#divAgregar").show("slow");
                $("#divGrid").removeClass("col-md-12");
                $("#divGrid").addClass("col-md-8");
            });

            $("#btnCancelar").click(function () {
                $("#divAgregar").hide();
                $("#divGrid").removeClass("col-md-8");
                $("#divGrid").addClass("col-md-12");
            });

            $("#grid").kendoGrid({
                dataSource: {
                    data: model,
                    schema: {
                        model: {
                            fields: {
                                nombre: { type: "string" },
                                id: { type: "number" }
                            }
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                scrollable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [+
                    { hidden: true, field: "id" },
                    { field: "nombre", title: "Nombre" }
                ]
            });
        });
    </script>
}


