﻿@model WebEncuesta.ViewModels.ItemPestanaViewModel

<div class="toolbar">
    <ul class="nav nav-tabs nav-tabs--red">
        <li class="nav-item">
            <a class="nav-link" title="Información general" data-toggle="tooltip" data-placement="bottom" pulse-activar-si="@Model.LinkName.Equals(nameof(Encuestas.GeneralModel))" asp-page="./General" asp-route-id="@Model.IdForQueryParameter">
                <icon name="columns" aditional-class="iconpestana" />
            </a>
        </li>
        @if (Model.IdForQueryParameter != "0")
        {
            <li class="nav-item">
                <a class="nav-link" title="Preguntas" data-toggle="tooltip" data-placement="bottom" pulse-activar-si="@Model.LinkName.Equals("Preguntas")" asp-page="./Preguntas" asp-route-id="@Model.IdForQueryParameter">
                    <icon name="list-ol" aditional-class="iconpestana" />
                </a>
            </li>
        }
    </ul>
</div> 