﻿@page "{id:int}"
@model WebEncuesta.Pages.Encuestas.GeneralModel
@{
    ViewData["Title"] = "General";
}

<div class="content__inner">


    @(await Html.PartialAsync("_Pestanas", new WebEncuesta.ViewModels.ItemPestanaViewModel(@Model.Vm.Id.ToString(), nameof(WebEncuesta.Pages.Encuestas.GeneralModel))))

    <form method="post">
        <input type="hidden" asp-for="Vm.Id" />
        <div class="card">
            <div class="card-body">
                <h3 class="card-body__title">Encuesta</h3>
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control input-mask" asp-for="Vm.Titulo" autocomplete="off" maxlength="50">
                            <label asp-for="Vm.Titulo"></label>
                            <i class="form-group__bar"></i>
                            <div asp-validation-for="Vm.Titulo" class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control input-mask" asp-for="Vm.Descripcion" autocomplete="off" maxlength="500">
                            <label asp-for="Vm.Descripcion"></label>
                            <i class="form-group__bar"></i>
                            <div asp-validation-for="Vm.Descripcion" class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                  

                    <div class="col-sm-6">
                        <div class="form-group form-group--float">
                            <div class="select">
                                <select asp-for="Vm.SeccionId" asp-items="Model.Secciones" class="form-control">
                                    <option value="">[ Área ] Sección</option>
                                </select>
                            </div>
                            <div asp-validation-for="Vm.SeccionId" class="invalid-feedback"></div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="Vm.VigenciaDesde"></label>
                            <input type="text" class="form-control" asp-for="Vm.VigenciaDesde" autocomplete="off" maxlength="50" />
                            <div asp-validation-for="Vm.VigenciaDesde" class="invalid-feedback"></div>
                            <i class="form-group__bar"></i>
                            <span class="custom-control-input input-validation-error"></span>
                            <div asp-validation-for="Vm.VigenciaDesde" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="Vm.VigenciaHasta"></label>
                            <input type="text" class="form-control" asp-for="Vm.VigenciaHasta" autocomplete="off" maxlength="50">
                            <i class="form-group__bar"></i>
                            <span class="custom-control-input input-validation-error"></span>
                            <div asp-validation-for="Vm.VigenciaHasta" class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" asp-for="Vm.EsCompaniaAlt" id="customCheck1">
                                <label class="checkbox__label" for="customCheck1">¿Encuesta Zenit?</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <br />
                        <div class="form-group">
                            <button class="btn btn-danger btn--icon-text" type="submit"><i class="zmdi zmdi-arrow-forward"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>


</div>


@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            kendo.culture("es-CL");

            var start = $("#Vm_VigenciaDesde").kendoDatePicker({
                change: startChange
            }).data("kendoDatePicker");

            var end = $("#Vm_VigenciaHasta").kendoDatePicker({
                change: endChange
            }).data("kendoDatePicker");

            start.max(end.value());
            end.min(start.value());

            function startChange() {
                console.log(start);
                var startDate = start.value(),
                    endDate = end.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate());
                    end.min(startDate);
                } else if (endDate) {
                    start.max(new Date(endDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            function endChange() {
                var endDate = end.value(),
                    startDate = start.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate());
                    start.max(endDate);
                } else if (startDate) {
                    end.min(new Date(startDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }


        });
    </script>
}





