﻿@page
@model WebEncuesta.Pages.Encuestas.IndexModel
@{
    ViewData["Title"] = "Index";
}



<div class="content__inner">
    <div class="row">
        <div class="col-md-12" id="divGrid">
            <div class="card">
                <div class="card-body selectablegrid">
                    <h4 class="card-title">Encuestas</h4>
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
    <a asp-page="General" asp-route-id="0" class="btn btn-danger btn--action btn--fixed zmdi zmdi-plus"></a>
</div>

@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script>

        var model = JSON.parse('@Html.Raw(Json.Serialize(@Model.VmList))');
        console.log(model);
        $(document).ready(function() {


            $("#grid").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Respuestas.xlsx",
                    filterable: true
                },
                dataSource: {
                    data: model,
                    schema: {
                        model: {
                            fields: {
                                seccionNombre: { type: "string" },
                                seccionAreaNombre: { type: "string" },
                                titulo: { type: "string" },
                                id: { type: "number" },
                                vigenciaDesde: { type: "date" },
                                vigenciaHasta: { type: "date" }
                            }
                        }
                    },
                    pageSize: 20
                },
                selectable: "row",
                change: function (e) {
                    var selectedRows = this.select();
                    var dataItem = this.dataItem(selectedRows[0]);
                    if (dataItem.id > 0)
                        window.location = `../Encuestas/General/${dataItem.id}`;
                },
                height: 550,
                scrollable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { hidden: true, field: "id" },
                    { field: "seccionAreaNombre", title: "Área" },
                    { field: "seccionNombre", title: "Sección" },
                    { field: "titulo", title: "Título" },
                    { field: "vigenciaDesde", title: "Vigente desde", format: "{0:dd/MM/yyyy}" },
                    { field: "vigenciaHasta", title: "Hasta", format: "{0:dd/MM/yyyy}" }
                ]
            });
        });
    </script>
}




