﻿@page "{id}"
@{
    ViewData["Title"] = "Preguntas";
}


<div class="content__inner">



    @(await Html.PartialAsync("_Pestanas", new WebEncuesta.ViewModels.ItemPestanaViewModel(@ViewContext.RouteData.Values["id"].ToString(), "Preguntas")))


    <div class="card">
        <div class="card-body">
            <h3 class="card-body__title">
                Preguntas
            </h3>

            <div class="row">
                <div class="col-sm-12">
                    <div class="demo-section k-content wide">
                        <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Agregar pregunta</a>
                        <div id="listView" class="listview listview--bordered q-a"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/x-kendo-tmpl" id="template">
    <div class="listview__item q-a__item">
        <div class="q-a__stat hidden-sm-down">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M352.201 425.775l-79.196 79.196c-9.373 9.373-24.568 9.373-33.941 0l-79.196-79.196c-15.119-15.119-4.411-40.971 16.971-40.97h51.162L228 284H127.196v51.162c0 21.382-25.851 32.09-40.971 16.971L7.029 272.937c-9.373-9.373-9.373-24.569 0-33.941L86.225 159.8c15.119-15.119 40.971-4.411 40.971 16.971V228H228V127.196h-51.23c-21.382 0-32.09-25.851-16.971-40.971l79.196-79.196c9.373-9.373 24.568-9.373 33.941 0l79.196 79.196c15.119 15.119 4.411 40.971-16.971 40.971h-51.162V228h100.804v-51.162c0-21.382 25.851-32.09 40.97-16.971l79.196 79.196c9.373 9.373 9.373 24.569 0 33.941L425.773 352.2c-15.119 15.119-40.971 4.411-40.97-16.971V284H284v100.804h51.23c21.382 0 32.09 25.851 16.971 40.971z" /></svg>
            </span>
        </div>

        <div class="listview__content">
            <span class="listview__heading">#:glosa#</span>
            <p></p>
            <div class="listview__attrs">
                <span><a class="k-edit-button" href="\\#">Editar</a></span>
                #if(esPreguntaSnex){#
                <span class="text-warning">snex</span>
                #}#
                #if(deshabilitado){#
                <span class="text-danger">deshabilitado</span>
                #}#
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="editTemplate">
    <div class="product-view k-widget">
        <dl>
            <dt>Glosa</dt>
            <dd>
                <input type="text" class="k-textbox" data-bind="value:glosa" name="glosa" required="required" validationMessage="required" />
                <span data-for="ProductName" class="k-invalid-msg"></span>
            </dd>
            <dt>Snex</dt>
            <dd><input type="checkbox" name="Discontinued" data-bind="checked:esPreguntaSnex"></dd>

            <dt>Deshabilitado</dt>
            <dd><input type="checkbox" name="Discontinued" data-bind="checked:deshabilitado"></dd>
        </dl>
        <div class="edit-buttons">
            <a class="k-button k-update-button" href="\\#"><span class="k-icon k-i-check"></span></a>
            <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-i-cancel"></span></a>
        </div>
    </div>
</script>


@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script>

        $(document).ready(function() {
            kendo.culture("es-CL");
            var urlBase = '../../api/encuestas/' + @ViewContext.RouteData.Values["id"].ToString() + '/Preguntas';
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: urlBase,
                        dataType: "json"
                    },
                    update: {
                        url: urlBase + "/" + '@ViewContext.RouteData.Values["id"].ToString()',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        type: "PUT",
                        success: function(e) {
                            console.log('wiii', e);
                        }
                    },
                    destroy: {
                        url: "/PreguntasApi/Destroy",
                        dataType: "json"
                    },
                    create: {
                        url: urlBase,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        type: "POST"
                    },
                    parameterMap: function(data, operation) {
                        console.log('operation', operation);
                        console.log(kendo.stringify(data));
                        return kendo.stringify(data);
                    }
                },
                batch: false,
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false, nullable: true },
                            glosa: "glosa",
                            esPreguntaSnex: { type: "boolean" },
                            deshabilitado: { type: "boolean" }
                        }
                    }
                },
                requestEnd: function(e) {
                    if (e.type !== "read")
                        dataSource.read();
                }
            });


            var listView = $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html()),
                editTemplate: kendo.template($("#editTemplate").html())
            }).data("kendoListView");


            $("#listView").kendoSortable({
                filter: ">div.listview__item",
                cursor: "move",
                placeholder: function(element) {
                    return element.clone().css("opacity", 0.1);
                },
                hint: function(element) {
                    return element.clone().removeClass("k-state-selected");
                },
                change: function (e) {
                    kendo.ui.progress(listView.element, true);

                    var oldIndex = e.oldIndex,
                        newIndex = e.newIndex,
                        data = dataSource.data(),
                        dataItem = dataSource.getByUid(e.item.data("uid"));

                    console.log('data', data);
                    console.log('(e.item.data("uid")', e.item.data("uid"));
                    console.log(' dataSource.at(newIndex)', dataSource.at(newIndex));
                    console.log('newIndex', newIndex);
                    console.log('oldIndex', oldIndex);
                    console.log('oldIndex', oldIndex);

                    console.log('dataItem', dataItem);

                    $.ajax({  
                        url: urlBase + '/CambiarOrden/' + dataItem.id + '/Por/' + dataSource.at(newIndex).id,  
                        type: 'GET',  
                        dataType: 'json',  
                        success: function (employees) {
                            dataSource.read();
                            kendo.ui.progress(listView.element, false);
                        },  
                        error: function (request, message, error) {  
                            kendo.ui.progress(listView.element, false);
                        }  
                    });  
                }
            });

            $(".k-add-button").click(function(e) {
                listView.add();
                e.preventDefault();
            });
        });
    </script>
}


