﻿@page
@model WebEncuesta.Pages.Respuestas.ExportarModel
@{
    ViewData["Title"] = "Exportar";
}

<div class="content__inner">
    <form method="post">
        <div class="card">
            <div class="card-body">
                <h3 class="card-body__title">Exportar Respuestas</h3>
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="select">
                                <select asp-for="Vm.SeccionAreaId" asp-items="Model.Areas" class="form-control">
                                    <option value="">Seleccione un área</option>
                                </select>
                                <div asp-validation-for="Vm.SeccionAreaId" class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group seccionformgroup">
                            <div class="select">
                                <select asp-for="Vm.SeccionId" class="form-control">
                                    <option value="">Seleccione una sección</option>
                                </select>
                                <div asp-validation-for="Vm.SeccionId" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="Vm.VigenciaDesde"></label>
                            <input type="text" class="form-control" asp-for="Vm.VigenciaDesde" autocomplete="off" maxlength="50" />
                            <div asp-validation-for="Vm.VigenciaDesde" class="invalid-feedback"></div>
                            <i class="form-group__bar"></i>
                            <span class="custom-control-input input-validation-error"></span>
                            <div asp-validation-for="Vm.VigenciaDesde" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="Vm.VigenciaHasta"></label>
                            <input type="text" class="form-control" asp-for="Vm.VigenciaHasta" autocomplete="off" maxlength="50">
                            <i class="form-group__bar"></i>
                            <span class="custom-control-input input-validation-error"></span>
                            <div asp-validation-for="Vm.VigenciaHasta" class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <br />
                        <div class="form-group">
                            <button class="btn btn-danger btn--icon-text" type="submit"><i class="zmdi zmdi-arrow-forward"></i> Exportar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
@section Csses
{
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/fp_es.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

     
        $(document).ready(function () {
            kendo.culture("es-CL");

            var start = $("#Vm_VigenciaDesde").kendoDatePicker({
                change: startChange
            }).data("kendoDatePicker");

            var end = $("#Vm_VigenciaHasta").kendoDatePicker({
                change: endChange
            }).data("kendoDatePicker");

            start.max(end.value());
            end.min(start.value());

            function startChange() {
                console.log(start);
                var startDate = start.value(),
                    endDate = end.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate());
                    end.min(startDate);
                } else if (endDate) {
                    start.max(new Date(endDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            function endChange() {
                var endDate = end.value(),
                    startDate = start.value();

                if (endDate) {
                    endDate = new Date(endDate);
                    endDate.setDate(endDate.getDate());
                    start.max(endDate);
                } else if (startDate) {
                    end.min(new Date(startDate));
                } else {
                    endDate = new Date();
                    start.max(endDate);
                    end.min(endDate);
                }
            }

            $('#Vm_SeccionAreaId').change(function () {
                kendo.ui.progress($(".seccionformgroup"), true);
                $('#Vm_SeccionId').empty();
                $.get(`?areaId=${$(this).val()}&handler=Secciones`).done(function(data) {
                    $(data).each(function () { $("#Vm_SeccionId").append($("<option></option>").val(this.value).html(this.text)); });
                    kendo.ui.progress($(".seccionformgroup"), false);
                });
            });
        });


    </script>
}