﻿@page
@{
    ViewData["Title"] = "Index";
}



<div class="content__inner">


    <div class="row">

        <div class="col-md-12" id="divGrid">
            <div class="card">
                <div class="card-body selectablegrid">
                    <h4 class="card-title">Respuestas</h4>
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="~/js/fp_es.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function() {
            kendo.culture("es-CL");
            $("#grid").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Respuestas.xlsx",
                    filterable: true
                },
                dataSource: {
                    transport: {
                        read: {
                            url: "../../api/Respuestas",
                            contentType: "application/json; charset=utf-8",
                            type: "POST",
                            dataType: "json",
                            cache:false
                        },
                        parameterMap: function (options) {
                            return kendo.stringify(options);
                        }
                    },
                    schema: {
                        data: "data",
                        total: "total",
                        model: {
                            fields: {
                                encuestaTitulo: { type: "string", nullable: false },
                                rutCliente: { type: "string", nullable: false },
                                id: { type: "number", nullable: false },
                                usuarioNombre: { type: "string", nullable: false },
                                fecha: { type: "date", nullable: false }
                            }
                        }
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    pageSize: 10
                },
                selectable: "row",
                change: function (e) {
                    var selectedRows = this.select();
                    var dataItem = this.dataItem(selectedRows[0]);
                    if (dataItem.id > 0)
                        window.location = `../Respuestas/Ver/${dataItem.id}`;
                },
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                    { hidden: true, field: "id" },
                    { field: "id", title: "Número" },
                    { field: "fecha", title: "Fecha", format: "{0:dd/MM/yyyy    HH:mm}" },
                    { field: "rutCliente", title: "Cliente", filterable: false },
                    { field: "encuestaTitulo", title: "Encuesta", filterable: false },
                    { field: "usuarioNombre", title: "Ejecutivo", filterable: false }
                ]
            });
        });
    </script>
}




