﻿@page "{id:int}"
@model WebEncuesta.Pages.Respuestas.VerModel
@{
    ViewData["Title"] = "Ver";
}



<form method="post" class="row">
    <input asp-for="@Model.Vm.Id" type="hidden" />
    <section class="content">
        <div class="content__inner">
            <header class="content__title">
                <h1>@Model.Vm.Titulo</h1>
                <small>@Model.Vm.Descripcion</small>
            </header>

            <div class="row">
                <div class="col-md-12">
                    @{
                        for (var i = 0; i < Model.Vm.Preguntas.Count; i++)
                        {
                            <div class="card">
                                <div class="card-header">@Model.Vm.Preguntas[i].Glosa</div>
                                <div class="card-body">
                                    <ul class="emoji-choices">

                                        @if (Model.Vm.Preguntas[i].Valor == "1")
                                        {
                                            <li class="choice" data-value="1">
                                                <label class="emoji emoji-selected">
                                                    <img asp-append-version="true" src="~/images/caritas/si.svg" />
                                                </label>
                                                <p class="reaction reaction-fade-in">Muy bien!</p>
                                            </li>
                                        }
                                        @if (Model.Vm.Preguntas[i].Valor == "2")
                                        {
                                            <li class="choice" data-value="2">
                                                <label class="emoji emoji-selected">
                                                    <img asp-append-version="true" src="~/images/caritas/mm.svg" />
                                                </label>
                                                <p class="reaction reaction-fade-in">Ok</p>
                                            </li>
                                        }
                                        @if (Model.Vm.Preguntas[i].Valor == "3")
                                        {
                                            <li class="choice" data-value="3">
                                                <label class="emoji emoji-selected">
                                                    <img asp-append-version="true" src="~/images/caritas/no.svg" />
                                                </label>
                                                <p class="reaction reaction-fade-in">Mal</p>
                                            </li>
                                        }

                                    </ul>
                                    <input asp-for="@Model.Vm.Preguntas[i].Valor" type="hidden" />
                                    <input asp-for="@Model.Vm.Preguntas[i].Id" type="hidden" />

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <footer class="footer hidden-xs-down"></footer>
    </section>
</form>

@section Csses
    {
    <link href="~/css/emoji.css" rel="stylesheet" />
}






