﻿@using WebEncuesta.Helpers.Extensions

<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                @if (@User?.GetName() != null)
                {
                    <div>
                        <div class="user__name">@User?.GetName()</div>
                        <div class="user__email">@User?.GetEmail()</div>
                    </div>
                }
            </div>
        </div>
        <ul class="navigation">
            <li><a asp-page="/Respuestas/Index"><icon name="laugh-wink" /> Respuestas</a></li>
            <li><a asp-page="/Respuestas/Exportar"><icon name="file-excel" /> Exportación</a></li>
            <li><a asp-page="/Encuestas/Index"><icon name="list-alt" /> Encuestas</a></li>
            <li><a asp-page="/Snxes/Index"><icon name="chart-line" /> Snex</a></li>
            <li><a asp-page="/Areas/Index"><icon name="layer-group" /> Areas</a></li>
            <li><a asp-page="/Secciones/Index"><icon name="th-large" /> Secciones</a></li>
            <li><a asp-page="/Usuarios/Listar"><icon name="user-tie" /> Usuarios</a></li>
        </ul>
    </div>
</aside>