﻿
<header class="header">
    <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
        <div class="navigation-trigger__inner">
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
        </div>
    </div>
    <div class="header__logo hidden-sm-down">
        <div style="background: #fff; border-radius: 6px; width: 160px; padding:10px">
            <img src="~/images/logo.png" width="140" />
        </div>
    </div>
    @*<div class="">
        <input id="numExpediente" name="numExpediente" type="search" class="search__text" placeholder="Buscar por número de expediente">
            <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
    </div>*@
    <ul class="top-nav">
        <li class="hidden-xl-up"><a href="" data-ma-action="search-open"><i class="zmdi zmdi-search"></i></a></li>

        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
            <div class="dropdown-menu dropdown-menu-right">

                <a asp-page="/SignOut" class="dropdown-item">Salir</a>
            </div>
        </li>

    </ul>
</header>