﻿<script type="text/javascript">
    var placeSearch, autocomplete, autocomplete2;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        autocomplete2 = new google.maps.places.Autocomplete(
            (document.getElementById('Calle')),
            { types: ['geocode'] });
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('InformacionPersonalAdicional_Direccion')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        var place = autocomplete.getPlace();
        
        if (place) {
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i];
                if (addressType.types[0] === 'country') {
                    var value = $('#InformacionPersonalAdicional_Pais').find('option').filter(function () { return $.trim($(this).text().toUpperCase()) === `${addressType.long_name.toUpperCase()}`; }).attr('value');
                    $("#InformacionPersonalAdicional_Pais").val(value).change();
                    $(`#InformacionPersonalAdicional_Pais option[value=${value}]`).attr('selected', 'selected');
                }
            }

            var address = place.formatted_address;
            $.ajax({
                url: `https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=AIzaSyAfSfifvbEv1JnfBTjaXwHS4Wq8pfk5lYk`,
                dataType: "text",
                success: function (data) {
                    var parsed = JSON.parse(data);
                    var postalCode = parseInt(parsed.results[0].address_components[parsed.results[0].address_components.length - 1].long_name);
                    //console.log(postalCode + 'isInteger=' + Number.isInteger(postalCode));
                    if (Number.isInteger(postalCode))
                        $('#InformacionPersonalAdicional_CodigoPostal').val(postalCode);
                },
                error: function (data) {
                    console.log(data);
                },
            });
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfSfifvbEv1JnfBTjaXwHS4Wq8pfk5lYk&libraries=places&callback=initAutocomplete" async defer></script>
