﻿@page "{id}"
@model WebEncuesta.Pages.DescargaModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Descarga</title>
</head>
<body>
</body>
</html>
