﻿@page
@model WebEncuesta.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Vendor styles -->
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- App styles -->
    <link href="~/css/app.min.css" rel="stylesheet" />
</head>
<body data-ma-theme="green">
    <section class="error">
        <div class="error__inner">
            <h1>500</h1>
            <h2>Lo sentimos ha ocurrido un error al ejecutar esta aplicación.</h2>
            <p>Intentaremos resolver este problema lo antes posible!</p>
        </div>
    </section>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>