﻿@page
@model WebEncuesta.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard Jose";
}

<div class="content__inner">
    <header class="content__title">
        <h1>Dashboard</h1>
        <small>Muy pronto.</small>
    </header>
</div>
