﻿@page
@model WebEncuesta.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div class="content__inner">


    <div class="row">

        <div class="col-md-12" id="divGrid">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ejecutivos</h4>
                    <div id="grid"></div>
                </div>
            </div>
        </div>

    </div>
    <button class="btn btn-danger btn--action btn--fixed zmdi zmdi-plus" id="btnAdd"></button>
</div>

<script id="detailsTemplate" type="text/x-kendo-template">
    <tr class="row">
        <td>
            <div>
                <span class="strong">Nombre: </span># if ( title ) { #
                #= title #
                # } #
            </div>
            <div>
                <span class="strong">Username: </span>
                #= author #
            </div>
            <div>
                <span class="strong">Published: </span>
                #= kendo.toString(new Date(published), "MMM dd yyyy HH:mm") #
            </div><div>
                <span class="strong">Link: </span>
                <a href='#= link #' target='_blank'>Open</a>
            </div>
        </td>
        <td>
           
        </td>
       
    </tr>
</script>


@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script>

        $(document).ready(function () {
            kendo.culture("es-CL");
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "../../api/Usuarios",
                            contentType: "application/json; charset=utf-8",
                            type: "GET",
                            dataType: "json",
                            cache: false
                        },
                        create: {
                            url: "../../api/Usuarios",
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            cache: false,
                            type: "POST"
                        },
                        update: {
                            url: function (options) { return "../../api/Usuarios/" + options.id; },
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            cache: false,
                            type: "PUT"
                        },
                        parameterMap: function (data, operation) {
                            return kendo.stringify(data);
                        }
                    },
                    batch: false,
                    autoSync: false,
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                nombre: { type: "string" },
                                correo: { type: "string" },
                                id: { type: "number", editable: false, nullable: true },
                                esAdministrador: { type: "boolean" }
                            }
                        }
                    },
                    pageSize: 20
                },
                toolbar: ["create", "save"],
                scrollable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { hidden: true, field: "id" },
                    { field: "nombre", title: "Nombre" },
                    { field: "correo", title: "Correo" },
                    { field: "esAdministrador", title: "Administrador?" }
                ],
                editable: "popup"
            });
        });
    </script>
}



