﻿@page

@model WebEncuesta.Pages.Usuarios.ListarModel
@{
    ViewData["Title"] = "Listar";
}

<div class="content__inner">


    <div class="row">

        <div class="col-md-12" id="divGrid">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ejecutivos</h4>
                    <div id="grid"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="divAgregar">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Crear nuevo usuario</h4>
                    <form method="post" enctype="multipart/form-data" class="row">
                        <input type="hidden" asp-for="Vm.Id"/>
                        <div class="col-md-12">

                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="Vm.Nombre" autocomplete="off" maxlength="50" placeholder="Nombre" />
                                <div asp-validation-for="Vm.Nombre" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="Vm.Correo" autocomplete="off" maxlength="50" placeholder="Correo" />
                                <div asp-validation-for="Vm.Correo" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>


                            <div class="form-group">
                                <div class="checkbox">
                                    <input type="checkbox" asp-for="Vm.EsAdministrador" id="customCheck1">
                                    <label class="checkbox__label" for="customCheck1">Administrador</label>
                                </div>
                            </div>



                            <div class="form-group">
                                <input class="form-control" asp-for="Vm.Contrasena" autocomplete="off" maxlength="50" placeholder="Contraseña" />
                                <div asp-validation-for="Vm.Contrasena" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>

                            <div class="form-group">
                                <input class="form-control" asp-for="Vm.Confirmacion" autocomplete="off" maxlength="50" placeholder="Confirmación contraseña" />
                                <div asp-validation-for="Vm.Confirmacion" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>



                            <div class="form-group">
                                <div class="select">
                                    <select asp-for="Vm.SeccionAreaId" asp-items="Model.Areas" class="form-control">
                                        <option value="">Seleccione un área</option>
                                    </select>
                                    <div asp-validation-for="Vm.SeccionAreaId" class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="form-group seccionformgroup">
                                <div class="select">
                                    <select asp-for="Vm.SeccionId" class="form-control">
                                        <option value="">Seleccione una sección</option>
                                    </select>
                                    <div asp-validation-for="Vm.SeccionId" class="invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button id="btnSave" type="submit" class="btn btn-danger">Guardar</button>
                                <button id="btnCancelar" type="button" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-danger btn--action btn--fixed zmdi zmdi-plus" id="btnAdd"></button>
</div>

@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/fp_es.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        var model = JSON.parse('@Html.Raw(Json.Serialize(@Model.VmList))');
        console.log(model);
        $(document).ready(function() {
            $("#divAgregar").hide();
            $("#btnAdd").click(function() { ShowForm(); });
            $("#btnCancelar").click(function() { ExpandGrid(); });


            $('#Vm_SeccionAreaId').change(function () {

                kendo.ui.progress($(".seccionformgroup"), true);
                $.get(`?areaId=${$(this).val()}&handler=Secciones`).done(function(data) {
                    $(data).each(function () { $("#Vm_SeccionId").append($("<option></option>").val(this.value).html(this.text)); });
                    kendo.ui.progress($(".seccionformgroup"), false);
                });
            });

            $("#grid").kendoGrid({
                dataSource: {
                    data: model,
                    schema: {
                        model: {
                            fields: {
                                nombre: { type: "string" },
                                id: { type: "number" },
                                seccionId: { type: "number" },
                                esAdministrador: { type: "boolean" },
                                seccionAreaNombre: { type: "string" },
                                seccionNombre: { type: "string" },
                                correo: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                scrollable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { hidden: true, field: "id" },
                    { hidden: true, field: "seccionId" },
                    { field: "seccionAreaNombre", title: "Area" },
                    { field: "seccionNombre", title: "Sección" },
                    { field: "nombre", title: "Nombre" },
                    { field: "correo", title: "Correo" },
                    {
                        field: "esAdministrador",
                        title: "Admin?",
                        template: kendo.template("#if (esAdministrador){# Si #} else {# No #}#")
                    },
                    {
                        command: { text: "Editar", click: showDetails },
                        title: " ",
                        width: "180px"
                    }
                ]
            });
        });

        function showDetails(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            console.log('dataItem', dataItem);
            ShowForm();
            $('#Vm_Id').val(dataItem.id);
            $('#Vm_Nombre').val(dataItem.nombre);
            $('#Vm_Correo').val(dataItem.correo);
            $('#Vm_Contrasena').val(dataItem.contrasena);
            $('#Vm_Confirmacion').val(dataItem.contrasena);
            $("input[name='Vm.EsAdministrador']:checkbox").prop('checked', dataItem.esAdministrador);
            $('#Vm_SeccionAreaId').val(dataItem.seccionAreaId);
            $.get(`?areaId=${dataItem.seccionAreaId}&handler=Secciones`).done(function(data) {
                $(data).each(function () { $("#Vm_SeccionId").append($("<option></option>").val(this.value).html(this.text)); });
                $('#Vm_SeccionId').val(dataItem.seccionId);
            });
        }

    </script>
}