﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.png">
    <title>Bci Seguros</title>
    @RenderSection("Csses", required: false)
    <link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/emoji.css" rel="stylesheet" />
    <link href="~/css/jquery-steps.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <br />
                <br />
                <img src="~/images/logo.png" alt="logo" width="120" />
            </div>
        </div>
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery-steps.js"></script>

    <script>
        $('#demo').steps({
            onFinish: function () {
                setTimeout(function(){
                    $('form').submit();
                }, 1000);
            }
        });
    </script>
</body>
</html>