﻿@page
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.png">
    <title>Bci Seguros</title>
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/jquery.scrollbar.min.css" rel="stylesheet" />
    <link href="~/css/app.min.css" rel="stylesheet" />
    <link href="~/css/emoji.css" rel="stylesheet" />
</head>
<body data-ma-theme="indigo">
    <main class="main">
        <div class="page-loader">
            <div class="page-loader__spinner">
                <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <section class="content">
            <div class="content__inner">
                <div class="jumbotron">
                    <h1 class="display-3">Agradecemos tu opinión, que nos ayuda a mejorar nuestro servicio.</h1>
                </div>
            </div>
            <footer class="footer hidden-xs-down">
                <div class="row">
                    <div class="col-sm-12" style="text-align: center">
                        <br />
                        <br />
                        <img src="~/images/logo.png" alt="logo" width="120" />
                    </div>
                </div>
            </footer>
        </section>

    </main>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollbar.min.js"></script>
    <script src="~/js/jquery-scrollLock.min.js"></script>

    <script src="~/js/app.min.js"></script>
    <script>
        $(document).ready(function () {
            var delay = 5000;
            setTimeout(function () { window.location = '/responder'; }, delay);
        });
    </script>
</body>
</html>
