﻿@page
@model WebEncuesta.Pages.Responder.IndexModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encuesta Atención Presencial</title>
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/jquery.scrollbar.min.css" rel="stylesheet" />
    <link href="~/css/app.min.css" rel="stylesheet" />
    <link href="~/css/emoji.css" rel="stylesheet" />
</head>
<body data-ma-theme="indigo">
    <main class="main">
        <div class="page-loader">
            <div class="page-loader__spinner">
                <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <section class="content">
            <div class="content__inner">
                <header class="content__title">
                    <h1>@Model.Vm.TituloEncuesta</h1>
                    <br />
                    <h5>@Model.Vm.DescripcionEncuesta</h5>
                </header>
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control rut" asp-for="Vm.Rut" maxlength="12" placeholder="Ingresa tu rut" style="font-size: 3rem !important" autofocus>
                                    <div asp-validation-for="Vm.Rut" class="invalid-feedback"></div>
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-danger btn--icon-text btn-lg" type="submit"><i class="zmdi zmdi-arrow-forward"></i> Continuar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="footer hidden-xs-down">

                <div class="row">
                    <div class="col-sm-12" style="text-align: center">

                        @if (Model.Vm.EsZenit)
                        {
                            <img src="~/images/logo_zenit.svg" alt="logo" width="120" />
                        }
                        else
                        {
                            <img src="~/images/logo.png" alt="logo" width="120" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />

                        @if (Model.Vm.EsZenit)
                        {
                            <p>© Zenit Seguros - Encuestas Atención Presencial.</p>
                        }
                        else
                        {
                            <p>© Bci Seguros - Encuestas Atención Presencial.</p>
                        }

                        <ul class="nav footer__nav">
                            <li>
                                <a asp-page="/SignOut" class="nav-link">Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </section>

    </main>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollbar.min.js"></script>
    <script src="~/js/jquery-scrollLock.min.js"></script>

    <script src="~/js/app.min.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
        });
    </script>
</body>
</html>
