﻿@page "{p:int}"
@model WebEncuesta.Pages.Responder.ResponderEncuestaModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encuesta Atención Presencial</title>
    <link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/emoji.css" rel="stylesheet" />
    <link href="~/css/jquery-steps.css" rel="stylesheet" />

</head>
<body>
    <div class="container">

        <form method="post" class="row">
            <input asp-for="@Model.Vm.Id" type="hidden" />
            <div class="col-sm-12">
                <div class="content__title">
                    <h1>@Model.Vm.Titulo</h1>
                </div>
            </div>
            <div class="col-sm-12">

                <div id="demo">
                    <div class="step-app">
                        <ul class="step-steps">
                            @{
                                for (var i = 0; i < Model.Vm.Preguntas.Count; i++)
                                {
                                    var idUlPregunta = $"#step{i + 1}";
                                    <li><a href="@idUlPregunta">Step 1</a></li>
                                }
                            }
                            <li><a href="#step999"></a></li>
                        </ul>

                        <div class="step-content text-center">
                            @{
                                for (var i = 0; i < Model.Vm.Preguntas.Count; i++)
                                {
                                    var idUlPregunta = $"step{i + 1}";
                                    var textoPregunta = $"{i + 1}/{Model.Vm.Preguntas.Count}. ";
                                    <div class="step-tab-panel" id="@idUlPregunta">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card-header">
                                                    @textoPregunta @Model.Vm.Preguntas[i].Glosa
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 3.9rem;padding-bottom:3.9rem">

                                            <div class="col-sm-4 divcarita" data-value="3">
                                                <label class="emoji">
                                                    <img asp-append-version="true" src="~/images/caritas/no.svg" />
                                                </label>
                                                <div>
                                                    <span>Malo</span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 divcarita" data-value="2">
                                                <label class="emoji">
                                                    <img asp-append-version="true" src="~/images/caritas/mm.svg" />
                                                </label> <div>
                                                    <span>Neutral</span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 divcarita" data-value="1">
                                                <label class="emoji">
                                                    <img asp-append-version="true" src="~/images/caritas/si.svg" />
                                                </label><div>
                                                    <span>Bueno</span>
                                                </div>
                                            </div>
                                            <input asp-for="@Model.Vm.Preguntas[i].Valor" type="hidden" value="0" />
                                            <input asp-for="@Model.Vm.Preguntas[i].Id" type="hidden" />
                                            <input asp-for="@Model.Vm.Preguntas[i].EsPreguntaSnex" type="hidden" />
                                        </div>
                                    </div>
                                }
                            }
                            <div class="step-tab-panel" id="step999">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-header">
                                            <h1 class="display-3">Agradecemos tu opinión, que nos ayuda a mejorar nuestro servicio.</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step-footer">
                            <button data-direction="prev" class="btn btn-secondary">Volver</button>
                            <button data-direction="next" class="btn btn-primary">Siguiente</button>
                            <button data-direction="finish" type="submit" class="btn btn-primary">Enviar</button>
                            <div style="float: right">

                                @if (Model.Vm.EsCompaniaAlt)
                                {
                                    <img src="~/images/logo_zenit.svg" alt="logo" width="120" />
                                }
                                else
                                {
                                    <img src="~/images/logo.png" alt="logo" width="120" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery-steps.js"></script>

    <script>
        $('#demo').steps({
            onFinish: function () {
                setTimeout(function () {
                    $('form').submit();
                }, 2000);
            }
        });
    </script>
</body>
</html>
